{% extends 'base_layout.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}


{% block content %}
    <h1>Log in</h1>
    <form class="site-form" action="{% url 'accounts:login' %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{request.GET.next}}">
        {% endif %}
        <button type="submit" class="btn btn-primary btn-lg">Log in</button>
    </form>

        <div class="ic">
            <a href="{% provider_login_url 'github' %}" class="social_log"> <i class="fab fa-github fa-3x"></i> </a>
            <a href="{% provider_login_url 'github' %}" class="social_log"> <i class="fab fa-facebook-square fa-3x"></i> </a>
            <a href="{% provider_login_url 'github' %}" class="social_log"> <i class="fab fa-google fa-3x"></i> </a>
        </div>
    <p class="sign_up">Not got an account? <a href="{% url 'accounts:signup' %}">Sign Up</a></p>
{% endblock %}