* {
    font-family: Arial, Helvetica, sans-serif;

}

body {}

.lnk{
    text-decoration: none;
}


p {
    font-size: 1.2em;
}

li{
    list-style-type: none;
}
.logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #4CAF50;
    font-size: 500%;
    align-self: center;
    text-decoration: none;
    width: 40%;
}

.container {
    width: 80%;
}


.card {
    width: 19rem;
    float: left;
    padding: 10px;
    margin: 10px;
    height: 400px;
    border: 1px solid #4CAF50;
}

.card-text {
    margin-bottom: 10px;

}

#main-bt {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.card-img-top {

    width: 100%;
    max-width: 200px;
    height: auto;

}

.dtl-photo {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 10px;
}

.card-title {
    color: #4CAF50;
}

.productDtl {
    margin: auto;
}

#signup_btn {
    padding: 10px;
    display: inline-block;
    font-weight: bold;
    font-size: larger;

    float: right;
    position: relative;
    left: 10px;
    top: -75px;
    margin: 5px;

}

.main_header {
    display: inline-block;
}

