{% extends "base_layout.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>abir's marketplace</title>


</head>
<body>
    {% block content %}
    <div class="container">
        <h2> {{ product_dtl.title }} </h2>
        <img src=" {{product_dtl.photo.url}} " class="dtl-photo" alt="product photo">
        <p> Category: {{ product_dtl.category }} </p>
        <p> Quantity : {{ product_dtl.quantity }} </p>
        <p> Details : {{ product_dtl.detail }} </p>
    </div>

    {% endblock %}  
</body>
</html>