{% extends "base_layout.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>abir's marketplace</title>


</head>
<body>
        {% block content %}

        <h1 class="main-header">Available Products </h1>

        {% for product in products %}
            <div class="card" >
            <img src="{{product.photo.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                        <p class="card-text">{{product.snippet}}</p>
                    <a href="{% url 'products:detail' product_id=product.id %}" id="main-bt" class="btn btn-primary">view</a>
                </div>
            </div>
        {% endfor %}
      

    {% endblock %}  
</body>
</html>




