<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>abir's marketplace</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <style>
        *{ font-family: 'Ubuntu', sans-serif; }
    </style>

</head>
<body>
        {% block content %}
        <h1 class="main-header">Available Products </h1>
        <div class="products">
            {% for product in products %}
                <h2>{{product.title}}</h2>
                <p>{{product.detail}}</p>
                <p>{{product.category}}</p>
            {% endfor %}
        </div>
    {% endblock %}  
</body>
</html>